.catalog {
    background: #70C05B;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.catalog p {
    margin-right: 20px;
}

.menu {
    cursor: pointer;
    position: relative;
    height: 24px;
    max-width: 24px;
    background-color: #70C05B;
    border: none;
    margin-right: 20px;
}

.menu span,
.menu span::before,
.menu span::after {
    height: 1px;
    width: 19px;
    background-color: white;
    position: absolute;
    top: 50%; margin-top: -.5px;
    left: 50%; margin-left: -9.5px;
}
.menu span::before,
.menu span::after{
    content: '';
}
.menu span::before {
    transform: translateY(-5px);
}
.menu span::after {
    transform: translateY(5px);
}