

.switch {
  display: inline-block;
  width: 46px;
  height: 24px;
  border-radius: 49px;
  transition: .4s;
  position: relative;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  border-radius: 49px;
  transition: .4s;
}
.slider.active {
  background-color: #70C05B;
}

.slider:before {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  content: '';
  background-color: #FFFFFF;
  position: absolute;
  left: 1px;
  bottom: 1px;
  transition: .4s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.slider:hover:before {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider.active:before {
  transform: translateX(22px);
}