@import '../../styles/global/colors';

.footer {
    position: relative;
    .img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #F9F4E2;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 24px 10px;
    max-width: 1228px;
}
.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    line-height: 18px;
    margin-left: 40px;
    white-space: nowrap;
}
@media screen and (max-width: 800px){
    .links a {
        margin-left: 15px;
    }
}
@media screen and (max-width: 633px){
    .links a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 633px){
    .links {
        justify-content: center;
    }
}

.contacts {
    display: flex;
    align-items: center;
}

.social a{
    margin-left: 20px;
}
@media screen and (max-width: 402px){
    .social a {
        margin-left: 10px;
    }
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 46px;
    .number {
        margin-left: 10px;
        white-space: nowrap;
    }
}
@media screen and (max-width: 402px){
    .phone {
        margin-left: 15px;
        font-size: 10px;
    }
}