.footer {
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 10px;
    max-width: 1228px;
}
.links {
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    line-height: 18px;
    margin-left: 40px;
}

.contacts {
    display: flex;
    align-items: center;
}

.social a{
    margin-left: 20px;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 46px;
}