

.banners {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.orange {
  width: 50%;
  cursor: pointer;
  margin-right: 20px;
  &:hover {
    box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
  }
  img {
    width: 100%;
  }
}

.green {
  width: 50%;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  }
  img {
    width: 100%;
  }
}