@import '../../styles/global/colors';

.article {
  width: 30%;
  border-radius: 4px;
  background-color: $article-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 10px;
}

.image {
  width: 100%;
}

.date {
  font-size: 12px;
  line-height: 18px;
  color: $article_date-color;
}

.title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  height: 120px;
}

.buttons {
  margin: 10px;
}

.button {
  width: 45%;
  height: 40px;
}