@import '../../styles/global/colors';

.article {
  width: 376px;
  border-radius: 4px;
  background-color: $article-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  &:hover {
    box-shadow: $article-hover;
  }
  &:last-child {
    margin-right: 0;
  }
}
@media(max-width: 800px) {
  .article {
    width: 80%;
    margin-right: 0;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.content {
  padding: 10px;
}

.image {
  width: 100%;
}

.date {
  font-size: 12px;
  line-height: 18px;
  color: $article_date-color;
}

.title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 24px;
}

.buttons {
  margin: 10px;
}

.button {
  width: 45%;
  height: 40px;
}