
.buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px;
}

button {
  height: 32px;
  font-size: 12px;
  line-height: 18px;
  margin-right: 24px;
  color: #606060;
  background-color: #F3F2F1;
  &:hover {
    color: white;
    background-color: #70C05B;
  }
}

.maps {
  max-width: 1208px;
}

.map {
  width: 100%;
}