@import "../../styles/global/colors";


.category {
  background-color: $main-background;
}

.container {
  margin: 0 auto;
  padding: 0 10px 80px 10px;
  max-width: 1228px;
}


.links {
  padding-top: 30px;
  display: flex;
}

.link {
  margin-right: 24px;
}

.title {
  margin-top: 24px;
  margin-bottom: 60px;
  @media screen and (max-width: 800px){
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.filters {
  margin-bottom: 40px;
}

.filter {
  padding: 8px;
  margin-right: 24px;
}

.products {
  display: grid;
  grid-gap: 40px;
  padding-top: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 1100px){
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 500px){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.product {
  width: 100%;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.showBtn {
  padding: 8px;
}
