.main {
  background-color: #FBF8EC;
  section {
    margin-top: 120px;
  }
}

.image {
  width: 100%;
}


.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1228px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
  margin-bottom: 40px;
}

.products {
  display: flex;
  justify-content: space-between;
}

.articles {
  display: flex;
  justify-content: space-between;
}