//Layout

$header-background: #FFFFFF;
$main-background: #FBF8EC;
$footer-background: #F9F4E2;

//Title

$title-color: #414141;

/*
Button
*/

$disabled_button-color: #8F8F8F;

//default

$default_orange_btn-color: #FF6633;
$default_orange_btn-background: #FCD5BA;

$default_green_btn-color: #FFFFFF;
$default_green_btn-background: #70C05B;

$default_gray_btn-color: #000;
$default_gray_btn-background: #F3F2F1;
$default_gray_btn-hover-color: #FFFFFF;
$default_gray_btn-hover-background: #70C05B;

$default_red_btn-color: #FFFFFF;
$default_red_btn-background: #D80000;

//decorated

$decorated_orange_btn-color: #FF6633;
$decorated_orange_btn-background: #FFFFFF;
$decorated_orange_btn-border: #FF6633;

$decorated_green_btn-color: #70C05B;
$decorated_green_btn-background: #FFFFFF;
$decorated_green_btn-border: #70C05B;
$decorated_green_btn-color-hover: #FFFFFF;
$decorated_green_btn-background-hover: #FF6633;

$decorated_gray_btn-color: #606060;
$decorated_gray_btn-background: #FFFFFF;
$decorated_gray_btn-border: #606060;

$decorated_red_btn-color: #D80000;
$decorated_red_btn-background: #FFFFFF;
$decorated_red_btn-border: #D80000;

//muted

$muted_green_btn-color: #70C05B;
$muted_green_btn-background: #E5FFDE;
$muted_green_btn-color-hover: #FFFFFF;
$muted_green_btn-background-hover: #70C05B;


/*
Input
 */

$input-border: #BFBFBF;
$input-border-focus: #70C05B;


/*
Checkbox
*/

$checkbox-background: #FFFFFF;
$checkbox-border: 1px solid #BFBFBF;
$checkbox_active-border: 1px solid #F3F2F1;
$checkbox_active-background: #70C05B;


/*
Product
*/

$product-background: #FFFFFF;
$product-hover: 4px 8px 16px rgba(255, 102, 51, 0.2);
$product_discount-color: #FFFFFF;
$product_discount-background: #FF6633;
$product_like-background: #F3F2F1;
$product_price-color: #414141;
$product_card_price-color: #414141;
$product_ordinary_price-color: #606060;
$product_price_description-color: #BFBFBF;
$product_description-color: #414141;


/*
Basket
*/

$basket_text-color: #8F8F8F;
$discount_profit-color: #FF6633;


/*
BasketProduct
*/

$basket_product-background: #FFFFFF;
$basket_product-box_shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
$basket_product-box_shadow-hover: 4px 8px 16px rgba(255, 102, 51, 0.2);
$basket_image_div-box_shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
$basket_price_description-color: #BFBFBF;
$basket_ordinary_price-color: #606060;
$basket_piece-color: #606060;
$basket_counter-background: #70C05B;
$basket_final_old_price-color: #8F8F8F;


/*
Article
 */

$article-hover: 4px 8px 16px rgba(255, 102, 51, 0.2);
$article-background: #FFFFFF;
$article_date-color: #8F8F8F;


/*
Modal
 */

$modal-background: #FFFFFF;
$modal_container-background: rgba(252, 213, 186, 0.8);
$modal_label-color: #8F8F8F;


/*
CatalogItem
 */

$catalog_item_name-color: #FFFFFF;

/*
Burger
 */


$burger_content-background: #FBF8EC;
$burger_links-color: #414141;

/*
BurgerBtn
 */

$burger_activation_button_background: #70C05B;


