@import '../../styles/global/colors';

.Button {
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  transition: all .2s linear;
}


//DefaultButtons

.DefaultOrangeButton {
  color: $default_orange_btn-color;
  background: $default_orange_btn-background;
  border-radius: 4px;
}

.DefaultGreenButton {
  color: $default_green_btn-color;
  background: $default_green_btn-background;
  border-radius: 4px;
}

.DefaultGrayButton {
  color: $default_gray_btn-color;
  background: $default_gray_btn-background;
  border-radius: 4px;
  &:hover {
    background-color: $default_gray_btn-hover-background;
    color: $default_gray_btn-hover-color;
  }
}

.DefaultRedButton {
  color: $default_red_btn-color;
  background: $default_red_btn-background;
  border-radius: 4px;
}

//DecoratedButtons

.DecoratedOrangeButton {
  color: $decorated_orange_btn-color;
  background-color: $decorated_orange_btn-background;
  border: 1px solid $decorated_orange_btn-border;
  border-radius: 4px;
}

.DecoratedGreenButton {
  color: $decorated_green_btn-color;
  background-color: $decorated_green_btn-background;
  border: 1px solid $decorated_green_btn-border;
  border-radius: 4px;
  &:hover {
    color: $decorated_green_btn-color-hover;
    background-color: $decorated_green_btn-background-hover;
  }
}

.DecoratedGrayButton {
  color: $decorated_gray_btn-color;
  background-color: $decorated_gray_btn-background;
  border: 1px solid $decorated_gray_btn-border;
  border-radius: 4px;
}

.DecoratedRedButton {
  color: $decorated_red_btn-color;
  background-color: $decorated_red_btn-background;
  border: 1px solid $decorated_red_btn-border;
  border-radius: 4px;
}

.CustomButton {
  cursor: pointer;
  background-color: inherit;
}

.MutedGreen {
  color: $muted_green_btn-color;
  background: $muted_green_btn-background;
  border-radius: 4px;
  &:hover {
    color: $muted_green_btn-color-hover;
    background: $muted_green_btn-background-hover;
  }
}

.Disabled {
  pointer-events: none;
}